@font-face {
  font-family: 'Braggadocio';
  src: url(/fonts/Braggadocio-Regular.ttf);
}
@font-face {
  font-family: 'Nunito';
  src: url(/fonts/Nunito-Regular.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Braggadocio';
}